body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Jumbotron */
.jumbotron {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(250, 206, 206), rgb(247, 247, 217));
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 50px;
  border-top: 1px solid white;
  margin-bottom: 2px;
}

.form-control {
  height: 50px;
}

/* time block */
.hour {
  background-color: #ff9999;
  color: #000000;
  border-radius: 20px;
}

/*Styling Past, Present and future rows of time*/
/* PAST */
.past{
  background-color: #d3d3d3;
  color: black;
}
/* Keeping same background color when clicking input area */
.past:focus{
  background-color: #d3d3d3;
  color: black;
}

/* PRESENT */
.present {
  background-color: #ff6961;
  color: black;
}
/* Keeping same background color when clicking input area */
.present:focus {
  background-color: #ff6961;
  color: black;
}

/* FUTURE */
.future {
  background-color: #77dd77;
  color: black;
}
/* Keeping same background color when clicking input area */
.future:focus {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  outline: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ff9999;
  color: white;
  width: 85px;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  color: black;
}
